body{
		font-family: 'Open Sans', sans-serif;
}

/* header area*/
header{
	width: 100%;
	height: auto;
	float: left;
	background:white;
	position: relative;
	background-size: cover;
	
}

/*
.header:before {
    content: '';
    position: absolute;
    background: #3c3b3ba3;
    height: 100%;
    width: 100%;
    top: 0%;}
*/

/*  logo and nav */

.logo {
	padding: 30px 0px 10px 30px ;
}

.nav-left{
	float: left;
}
.nav-right{
	display: inline-block;

	text-align: center;
	float: right;
	padding: 56px 0px 20px 0px;
	color: #005D7F;
}
.nav-right ul{
	list-style-type: none;


}
.nav-right ul li{
	display: inline-block;
	
}
.nav-right ul li a{

color:#005D7F;

text-decoration: none;

padding: 15px 37px;

margin-top: 15px;


}
.nav-right ul li a:hover{

color:#c9c9c9;

text-decoration: none;

padding: 15px 37px;

margin-top: 15px;


}



.line {
	float: left;
	width: 100%;
	background: #E4E4E4;
	padding: 4px 0px;

}
.about-us{
	width: 100%
	height:auto;

}

.about-content{

padding: 50px 0px;
}
.about-text{

}
.about-text h2{
	text-align:left;
	font-size: 50px;
	font-weight: bold;
	padding-bottom: 50px;
}

.about-text p{
	text-align: justify;
}

.about-content-right{

}
.about-content-right img{

}
.about-content-right p{
	    padding: 0px 0px 0px 50px;
	width: 100%;
	float: left;
	text-align: justify;
	padding-top: 360px;
	/* padding: 105px 0px; */
	position: absolute;
}
.about-img{position: relative;width: 100%;height: auto;float: left;}
.car-img-three{

    position: absolute;
    height: auto;
    width: 118%;
    top: -33%;
    left: 1%;
    float: left;
}

.ft{
	background-color: #F13E2C;

	text-align: center;
}
.footer-text {
	color: white;
	padding:25px 0px 10px 0px;
}
/* media query*/

@media(min-width: 320px) and (max-width: 500px){
	.ft{
		margin-top: 500px;
	}
		.nav-right{
			float: left;
				width: 100%;
				padding: 10px 0px 20px 0px;
				color: #005D7F;
}
	.nav-right ul li a {
    color: #005D7F;
    text-decoration: none;
    padding: 0px 14px;
    margin-top: 15px;}

    .nav-right ul li a:hover{

			color:#c9c9c9;
			text-decoration: none;
			 padding: 0px 14px;
    		margin-top: 15px;}
	.about-text h2{
		text-align: center;
	}
	.about-content-right p{
		padding:0px 0px;
		
		
		text-align: justify;
		padding-top: 250px;
		/* padding: 105px 0px; */
		}
}
@media(min-width: 501px) and (max-width: 768px){
	
			.ft {
			    background-color: #F13E2C;
			    text-align: center;
			    margin-top: 600px;
				}
			.nav-right{
				float: left;
				padding: 10px 0px 20px 0px;
				color: #005D7F;
					}
}
@media(min-width: 769px) and (max-width: 1200px){

	.ft {
    background-color: #F13E2C;
    text-align: center;
    margin-top: 100px;
}
	.logo{
		padding: 31px 0px 10px 165px;
	}
	.nav-right{
		
  
    /* width: 100%; */
    /* float: left; */
    
       margin: -14px 97px

				
}

}